.cursorDrag {
  cursor: grab;
}
.cursorDragging {
  cursor: grabbing;
}
.cursorDrawing {
  cursor: crosshair;
}
.cursorErasing {
  cursor: url("../../../public/images/eraser-tools-and-utensils-svgrepo-com.svg"),
    pointer;
}
